@import '../common.scss';

.mypage_Container {
  width: $width;
  max-width: $max-width;
  height: calc(100vh - 52px);

  .mypage_components {
    @include flex();
    height: 3em;

    .mypage_components_info {
      border-bottom: 1px solid black;
      font-weight: bold;
    }
  }
  .mypage_underbar {
    border-bottom: 1px solid lightgrey;
  }
}
