@import '../common.scss';

.mypage_Container {
  width: $width;
  max-width: $max-width;
  // height: calc(100vh - 50px);
  @include scrollbar();

  .mypage_components {
    @include flex();
    height: 3em;

    .mypage_components_info {
      width: calc(100% / 3);
      border-bottom: 1px solid lightgray;
      font-weight: bold;
      color: lightgray;
      margin-right: 0.5em;
      text-align: center;

      &.changedComponent {
        border-bottom: 3px solid black;
        color: black;
      }
    }
  }
  .mypage_underbar {
    border-bottom: 1px solid lightgrey;
  }
}
