@import '../common.scss';

.container {
  height: calc(100vh - 50px - 14em - 5em - 3.75em - 2px);
  @include flex();
  justify-content: space-evenly;
  flex-wrap: wrap;

  .content_Div {
    border: 1px solid red;
    @include flex();
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    margin: 0 1em;
    margin-top: 1em;
    width: 8em;
    height: 8em;
    box-sizing: border-box;
  }

  @media screen and (min-width: 30em) and (max-width: 100em) {
    .content_Div {
      width: 12.5em;
      height: 12.5em;
    }
  }
}
