@import '../common.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$primary-color: rgb(0, 0, 0);
.maincontainer {
  font-family: 'Roboto Mono', monospace;
}
/* 기본 스타일 */
.weatherContainer {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.all {
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  justify-content: center;
  align-items: center;
}
.weatherIcon img {
  width: 18vh;
  height: 18vh;
  margin-top: 3.55vh;
}

.locationText {
  font-size: 2.56vh;
  margin-top: 0;
  font-family: '', sans-serif;
}

.temperatureText {
  font-size: 2.18vh; // 텍스트 크기 조정
  margin: 0.5vh 0; // 위아래 마진 조정
  text-align: center;
  padding: 0.8vh 1.2vh; // 상하 패딩, 좌우 패딩 조정
  background-color: #f8f8f8;
  border-radius: 0.5vh;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
  // max-width: 420px; // 최대 너비 설정
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.temperatureTextmain {
  font-size: 6.15vh;
  margin-bottom: 3.25vh;
  margin-top: 3.25vh;
}

.temperatureTextcolor {
  font-size: 2.28vh;
  margin-bottom: 3.25vh;
}

.Ai {
  width: 16vh;
  height: 16vh;

  border-radius: 1.28vw;
  border: none;
  box-shadow: 0px 0.64vw 1.28vw rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-image: url('../../public/Ai.JPG');
}
.Tshirt {
  width: 10vh;
  height: 10vh;
  border: none;

  border-radius: 1.28vw;
  box-shadow: 0px 0.64vw 1.28vw rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-image: url('../../public/Tshirt.JPG');
}
.Pants {
  width: 10vh;
  height: 10vh;
  border: none;

  border-radius: 1.28vw;
  box-shadow: 0px 0.64vw 1.28vw rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-image: url('../../public/Pants.JPG');
}
.Outer {
  width: 10vh;
  height: 10vh;
  border: none;

  border-radius: 1.28vw;
  box-shadow: 0px 0.64vw 1.28vw rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-image: url('../../public/Outer.JPG');
}
.Report {
  width: 16vh;
  height: 16vh;
  border: none;

  border-radius: 1.28vw;
  box-shadow: 0px 0.64vw 1.28vw rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-image: url('../../public/codi.JPG');
}

.test {
  width: 100%;
}
.mainpage__TopButton button,
.mainpage__BottomButton button {
  margin: 0.5rem;
}
.mainpage__TopButton,
.mainpage__BottomButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 300px) and (min-height: 300px) {
  .weatherContainer {
    .temperatureText {
      font-size: 1.42vh;
      margin-bottom: 0.56vh;
      text-align: center;
      background-color: #f8f8f8;
      padding: 0.5rem;
      border-radius: 0.5rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 320px;
      width: 65%;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
  }
}
@media (min-height: 1150px) {
  .weatherContainer .temperatureText {
    font-size: 1.2vh; // 원하는 폰트 크기로 조정해주세요.
  }
}
