@import '../common.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$primary-color: rgb(0, 0, 0);
.maincontainer {
  font-family: 'Roboto Mono', monospace;
}
/* 기본 스타일 */
.weatherContainer {
  text-align: center;
}
.all {
  width: 100%;
  font-family: 'Roboto Mono', monospace;
}
.weatherIcon img {
  width: 18vh;
  height: 18vh;
  margin-top: 3.55vh;
}

.locationText {
  font-size: 2.56vh;
  margin-top: 0;
  font-family: '', sans-serif;
}

.temperatureText {
  font-size: 3.28vh;
  margin-bottom: 0.56vh;
  text-align: center;
}

.temperatureTextmain {
  font-size: 6.15vh;
  margin-bottom: 3.25vh;
  margin-top: 3.25vh;
}

.temperatureTextcolor {
  font-size: 2.28vh;
  margin-bottom: 3.25vh;
}

.Ai {
  width: 15vh;
  height: 15vh;

  border-radius: 1.28vw;
  border: none;
  box-shadow: 0px 0.64vw 1.28vw rgba(0, 0, 0, 0.1);
  background-size: contain;
  background-position: center;
  background-image: url('../../public/Ai.JPG');
}
.Tshirt {
  width: 10vh;
  height: 10vh;
  border: none;
  border-radius: 1.28vw;
  box-shadow: 0px 0.64vw 1.28vw rgba(0, 0, 0, 0.1);
  background-size: contain;
  background-position: center;
  background-image: url('../../public/Tshirt.JPG');
}
.Pants {
  width: 10vh;
  height: 10vh;
  border: none;

  border-radius: 1.28vw;
  box-shadow: 0px 0.64vw 1.28vw rgba(0, 0, 0, 0.1);
  background-size: contain;
  background-position: center;
  background-image: url('../../public/Pants.JPG');
}
.Outer {
  width: 10vh;
  height: 10vh;
  border: none;

  border-radius: 1.28vw;
  box-shadow: 0px 0.64vw 1.28vw rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-image: url('../../public/Outer.JPG');
}
.Report {
  width: 15vh;
  height: 15vh;
  border: none;

  border-radius: 1.28vw;
  box-shadow: 0px 0.64vw 1.28vw rgba(0, 0, 0, 0.1);
  background-size: contain;
  background-position: center;
  background-image: url('../../public/codi.JPG');
}

.test {
  width: 100%;
}
.mainpage__TopButton button,
.mainpage__BottomButton button {
  margin: 0.5rem;
}
.mainpage__TopButton,
.mainpage__BottomButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 520px) {
  .weatherContainer {
    .temperatureText {
      font-size: 4.28vw;
      margin-bottom: 0.56vh;
      text-align: center;
    }
  }
}
