@import '../common.scss';

.weatherContainer {
  text-align: center;
}

.weatherIcon img {
  width: 100px;
  height: 100px;
}

.locationText {
  font-size: 16px;
  margin-top: 0px;
}

.temperatureText {
  font-size: 16px;
  margin-bottom: 5px;
}
.maxTemperatureText {
  font-size: 8px;
  color: rgb(211, 59, 59);
}
.minTemperatureText {
  font-size: 8px;
  color: rgb(42, 42, 204);
}
.mainpage__TopButton {
  background-color: red;
  width: 100%;
  height: 150px;
  align-items: center;
}
.mainpage__BottomButton {
  background-color: black;
  width: 100%;
  height: 150px;
}
.Tshirt {
  background-color: blue;
  width: 50px;
  height: 50px;
}

.test {
  width: 100%;
}
