@import '../common.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 50px);
  position: relative;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
}

.innerHeader {
  display: flex;
  // background-color: pink;
  width: 90%;
  flex-direction: row;
  height: 5%;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  p {
    margin: 0;
    font-weight: 700;
    font-size: 1.1rem;
  }
  div {
    display: flex;
    align-items: center;
    flex-direction: row;
    button {
      border: none;
      background: none;
    }
    span {
      font-weight: 700;
    }
  }
}

.addToggleBtn {
  background-color: $black;
  width: 50%;
  height: 5%;
  position: absolute;
  top: 90%;
  left: 25%;
  display: flex;
  z-index: 90;
  justify-content: center;
  align-items: center;
  border-radius: $radius-m;
  button {
    background: none;
    border: none;
    color: $white;
  }
}

.addToggle {
  position: absolute;
  bottom: 80%;
  width: 100%;
  background-color: $black;
  height: 300%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: $radius-m $radius-m 0 0;
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center;
    justify-content: space-between;
    li {
      a {
        color: $white;
      }
    }
  }
}

.selectBox {
  width: 90%;
  height: 15%;
  background-color: $white;
  margin-top: 1rem;
  border-radius: $radius-s;
  box-shadow: 0px 2px 8px -5px #333;
}

.sortBox {
  width: 90%;
  background-color: pink;
  margin-top: 1rem;
}

.mainInfoBox {
  background-color: pink;
  width: 90%;
  margin-top: 1rem;
  display: flex;
}

.addForm {
  margin-top: 1rem;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .imgBox {
    position: relative;
    border: 1px solid #a5a5a5;
    border-radius: $radius-m;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
    .editBtn {
      position: absolute;
      z-index: 80;
      margin: auto;
      width: 3rem;
      height: 3rem;

      input {
        width: 0;
        height: 0;
        padding: 0;
        display: none;
      }
      label {
        // background-color: red;
        width: 3rem;
        height: 3rem;
        margin: 0;
        span {
          font-size: 3rem;
        }
      }
    }
  }

  label {
    color: #878787;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  .infoBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    input {
      border: 0.5px solid #878787;
      width: 100%;
      padding: 0;
    }
    select {
      background-color: transparent;
    }
  }
  .thicknessBox {
    // background-color: blue;
    display: flex;
    justify-content: space-between;
    input {
      border: 0.5px solid #878787;
      width: 20%;
      background: none;
    }
    input:hover,
    active {
      border: 1px solid blue;
      color: blue;
    }
  }
  .colorBox {
    background-color: white;
    display: flex;
    align-items: center;
    height: 5%;
    input {
      border-radius: 50%;
      width: 2vh;
      background-color: red;
    }
  }
}
