@import '../common.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.innerHeader {
  display: flex;
  // background-color: pink;
  width: 90%;
  flex-direction: row;
  height: 5%;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  p {
    margin: 0;
    font-weight: 700;
    font-size: 1.1rem;
  }
  div {
    display: flex;
    align-items: center;
    flex-direction: row;
    button {
      border: none;
      background: none;
    }
    span {
      font-weight: 700;
    }
  }
}

.addToggleBtn {
  background-color: $black;
  width: 50%;
  height: 5%;
  position: fixed;
  top: 90%;
  left: 25%;
  bottom: 5%;
  display: flex;
  z-index: 90;
  justify-content: center;
  align-items: center;
  border-radius: $radius-m;
  button {
    background: none;
    border: none;
    color: $white;
  }
}

.addToggle {
  position: absolute;
  bottom: 80%;
  width: 100%;
  background-color: $black;
  height: 300%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: $radius-m $radius-m 0 0;
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center;
    justify-content: space-between;
    li {
      a {
        color: $white;
      }
    }
  }
}

.selectBox {
  width: 90%;
  height: 100px;
  background-color: $white;
  margin-top: 1rem;
  border-radius: $radius-s;
  box-shadow: 0px 2px 8px -5px #333;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .bigCat:hover {
    color: blue !important;
    font-weight: 700 !important;
  }

  .smallCat:hover {
    color: blue !important;
    font-weight: 700 !important;
  }

  .selectUl {
    width: 100%;
    height: 40%;
    margin: 0;
    padding: 0;
    @include flex();
    justify-content: flex-start;
    li > input {
      background: none;
      border: none;
    }
  }
}

.sortBox {
  width: 90%;
  // background-color: pink;
  margin-top: 1rem;
  display: flex;
  justify-content: end;

  button {
    background: none;
    border: none;
  }
  button:hover,
  active {
    span {
      color: blue;
    }
  }
}

.mainInfoBoxDefault {
  width: 90%;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5%;
  row-gap: 2%;
  justify-content: center;
  .infoSmallBox {
    background-color: white;
    box-shadow: 0px 2px 8px -5px #333;
    border-radius: $radius-s;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 80%;
      flex-direction: column;
      align-items: center;
      color: #333;
      div {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          background: none;
          border: none;
        }
        span {
          font-size: 0.9rem;
        }
      }
    }
    img {
      height: 70%;
    }
  }
}

.mainInfoBoxSmall {
  width: 90%;
  height: 100%;
  // height: fit-content;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  // background-color: pink;
  .infoSmallBox {
    box-shadow: 0px 2px 8px -5px #333;
    border-radius: $radius-s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: pink;
    height: 50px;
    a {
      display: flex;
      width: 85%;
      height: 90%;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      color: #333;
      div {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          background: none;
          border: none;
        }
        span {
          font-size: 1rem;
        }
      }
    }
    img {
      height: 90%;
    }
  }
}
