@import '../common.scss';

.pNameContainer {
  @include flex();
  background-color: white;
  width: 90%;
  height: 6vh;
  min-height: 6vh;
  margin-top: 3vh;
  border-radius: $radius-m;
  box-shadow: 0px 2px 6px -5px #333;
  input {
    width: 90%;
    text-align: center;
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
  }
}

.imgContainer {
  margin-top: 3vh;
  background: none;
  width: 90%;
  height: 300px;
  min-height: 300px;
  border-radius: $radius-m;
  position: relative;
  overflow: hidden;
  @include flex();
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    border-radius: $radius-m;
  }
}

.infoContainer {
  margin-top: 3vh;
  width: 90%;
  height: 35vh;
  min-height: 35vh;
  background-color: white;
  @include flex();
  flex-direction: column;
  border-radius: $radius-m;
  box-shadow: 0px 2px 6px -5px #333;
  div {
    width: 90%;
    height: 10%;
    @include flex();
    justify-content: flex-start;
    margin: 1% 0;
    .title {
      width: 30%;
      margin-right: 1vh;
      color: $lightgray;
      font-size: 0.9rem;
    }
    .desc {
      font-weight: 500;
      width: 70%;
    }
  }
}

.btnContainer {
  @include flex();
  justify-content: space-between;
  margin-top: 3vh;
  // background-color: pink;
  width: 70vw;
  min-width: 70vw;
  height: 3vh;
  min-height: 3vh;
  button {
    border: none;
    background: none;
    color: $theme-blue-3;
    border: 1px solid $theme-blue-3;
    border-radius: $radius-m;
    padding: 0.2rem 0.9rem;
    width: 30vw;
    min-width: 30vw;
  }
  button:hover {
    background: $theme-blue-3;
    color: white;
  }
}
