@import '../common.scss';

.container {
  border: 1px solid rgb(32, 230, 197);
  width: $width;
  max-width: $max-width;
  height: calc(100vh - 52px);
  @include scrollbar();

  .components_Div {
    @include flex();

    .components {
      border: 1px solid salmon;
      @include flex();
      width: 25%;
      height: 2em;
    }
  }
}
