@import '../common.scss';

.container {
  width: $width;
  max-width: $max-width;
  height: calc(100vh - 50px - 2em);
  // @include scrollbar();

  .components_Div {
    @include flex();

    .components {
      @include flex();
      border: 1px solid black;
      width: 25%;
      height: 2em;
    }
  }
}
