@import '../common.scss';

.container {
  border: 1px solid purple;
  height: calc(100vh - 50px - 2em);

  .img_Div {
    border: 1px solid blue;
    @include flex();
    margin-top: 2em;

    > img {
      width: 50%;
    }
  }
}
