// 색
$black: #333333;
$bg-gray: #f6f6f6;

body {
  color: $black;
  margin: 0;
  padding: 0;
  background-color: $bg-gray;
}
a {
  text-decoration: none;
}

.mainContaioner {
  top: 70px;
  display: flex;
  justify-content: center;
}
