@import './common.scss';

body {
  color: $black;
  margin: 0;
  padding: 0;
  background-color: $bg-gray;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.mainContaioner {
  display: flex;
  justify-content: center;
  height: calc(100vh - 50px);
  // height: auto;
}
