@import './common.scss';

body {
  color: $black;
  margin: 0;
  padding: 0;
  background-color: $bg-gray;
}

* {
  font-family: 'Spoqa Han Sans';
  color: $black;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.mainContaioner {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  height: calc(100vh - 50px);
  z-index: 1;
}
