@import '../common.scss';

.container {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5px; /* 이미지 간격을 조절합니다. */
}

.hat,
.Top,
.Bottom,
.Shoes,
.Outerwear {
  max-width: 100%;
  max-height: 100%;
}

.hat img,
.Top img,
.Bottom img,
.Shoes img,
.Outerwear img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.fileInput::-webkit-file-upload-button {
  display: none; /* Chrome 및 Safari 브라우저용 */
}

.fileInput::before {
  content: 'Upload Image';
  display: inline-block;
  background: #007bff;
  color: #fff;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
}
